/* Estilos adicionais caso precise personalizar algum aspecto com Tailwind */
.card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .pagination button {
    transition: background-color 0.3s;
  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  



  .carousel-prev,
.carousel-next {
  background-color: #f7f7f7; /* Cor de fundo */
  border-radius: 50%;        /* Bordas arredondadas */
  padding: 10px;             /* Espaçamento interno */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); /* Sombra */
  color: #333;               /* Cor do ícone */
  cursor: pointer;          /* Cursor de ponteiro */
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: #e5e5e5; /* Cor de fundo ao passar o mouse */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* Sombra mais forte no hover */
}

