<header class="flex items-center justify-between p-4 bg-black shadow-md">
  <!-- Logo (fica à esquerda) -->
  <img src="https://freepnglogo.com/images/all_img/1707838707demon-slayer-logo-black%20and%20white.png" 
       alt="Logo" 
       class="h-12 w-auto filter brightness-0 invert">

  <!-- Botões Centralizados no Header -->
  <div class="flex gap-24 justify-center flex-grow">
    <!-- Botão Tela 1 -->
    <button routerLink="/tela-um" 
            class="text-white text-xl hover:text-white hover:underline hover:underline-offset-4 hover:rounded-full transition duration-300 transform hover:scale-105 px-6 py-3">
      Tela 1
    </button>
    <!-- Botão Tela 2 -->
    <button routerLink="/tela-dois" 
            class="text-white text-xl hover:text-white hover:underline hover:underline-offset-4 hover:rounded-full transition duration-300 transform hover:scale-105 px-6 py-3">
      Tela 2
    </button>
    <!-- Botão Tela 3 -->
    <button routerLink="/tela-tres" 
            class="text-white text-xl hover:text-white hover:underline hover:underline-offset-4 hover:rounded-full transition duration-300 transform hover:scale-105 px-6 py-3">
      Tela 3
    </button>
  </div>
</header>

