<h1 class="text-4xl font-bold text-center text-blue-500 md:text-5xl lg:text-6xl">
    Bem-vindo ao Meu Site
  </h1>
  
  <div class="flex justify-center gap-6 mt-8">
    <button routerLink="/tela-um" 
            class="bg-blue-600 text-white py-3 px-8 rounded-full hover:bg-blue-700 transition duration-300 transform hover:scale-105 shadow-lg">
      Ir para Tela 1
    </button>
    <button routerLink="/tela-dois" 
            class="bg-blue-600 text-white py-3 px-8 rounded-full hover:bg-blue-700 transition duration-300 transform hover:scale-105 shadow-lg">
      Ir para Tela 2
    </button>
    <button routerLink="/tela-tres" 
            class="bg-blue-600 text-white py-3 px-8 rounded-full hover:bg-blue-700 transition duration-300 transform hover:scale-105 shadow-lg">
      Ir para Tela 3
    </button>
  </div>
  