<app-cabeca></app-cabeca>

<main class="relative bg-cover bg-center min-h-screen pb-16" style="background-image: url('https://png.pngtree.com/background/20230427/original/pngtree-japanese-house-with-a-pond-near-it-picture-image_2497270.jpg'); overflow: hidden;">

  <!-- Título Responsivo com Espaço Inferior Ajustado -->
  <h1 class="text-center text-4xl md:text-6xl lg:text-8xl font-black text-white mt-0 mb-4 pt-0 pb-0"
      style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); margin-bottom: 5vh;">
    Personagens de Demon Slayer
  </h1>

  <!-- Lista de Personagens com Botões de Navegação -->
  <div class="flex items-center justify-between w-full h-full px-4 mt-0 relative" style="margin-top: 5vh;">
    <!-- Botão de Rolagem Esquerda com Ícone e Hover Transparente -->
    <button
      class="text-white bg-gray-800 rounded-full p-6 shadow-lg hover:bg-transparent hover:text-gray-800 transition focus:outline-none absolute left-4 top-1/2 transform -translate-y-1/2 z-10"
      (click)="scrollLeft()"
      style="top: 55%;">
      <i class="fas fa-arrow-left"></i>
    </button>

    <!-- Contêiner Responsivo -->
    <div
      #scrollContainer
      class="flex space-x-4 overflow-x-auto w-full px-4 scrollbar-hide"
      style="overflow-x: hidden; overflow-y: hidden;">
      
      <!-- Exibindo os Personagens -->
      <div
        *ngFor="let character of characters"
        class="flex-none bg-gray-800 rounded-xl shadow-lg p-4 transition-all duration-300 ease-in-out hover:shadow-xl hover:bg-gray-700"
        [ngStyle]="{
          width: screenWidth >= 1024 ? '22%' : screenWidth >= 768 ? '33%' : '80%', 
          'max-width': '300px'
        }">

        <!-- Contêiner de Imagem com Nome do Personagem -->
        <div class="flex flex-col items-center">
          <!-- Imagem do Personagem -->
          <div class="relative w-full" style="height: auto; aspect-ratio: 3/2;">
            <img
              [src]="character.character.images.jpg.image_url"
              [alt]="character.character.name + ' Image'"
              class="w-full h-full object-fit rounded-lg cursor-pointer"
              [routerLink]="['/detailsPage', character.character.name]"
            />
          </div>

          <!-- Nome do Personagem -->
          <h2 class="text-lg font-semibold text-center text-white mt-2">
            {{ character.character.name }}
          </h2>
        </div>
      </div>
    </div>

    <!-- Botão de Rolagem Direita com Ícone e Hover Transparente -->
    <button
      class="text-white bg-gray-800 rounded-full p-6 shadow-lg hover:bg-transparent hover:text-gray-800 transition focus:outline-none absolute right-4 top-1/2 transform -translate-y-1/2 z-10"
      (click)="scrollRight()"
      style="top: 55%;">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</main>
